.App {
    display: inline-block;
    width: 1140px;
    margin: 5px calc(50% - 570px);
    font-size: 18px;
}

.Button {
    border: 1px black solid;
    background-color: white;
}

.Wrapper {
    display: flex;
    justify-content: center;
}

.Notice {
    height: 50px;
    background-color: aqua;
    justify-self: self-end;
}